<div class="chat-container">
  <h2>Channels</h2>
  <ul class="channel-list">
    <li
      *ngFor="let channel of channels"
      (click)="selectedChannel = channel.name; loadMessages(channel.id)"
      [class.selected]="channel.name === selectedChannel"
    >
      {{ channel.name }}
    </li>
  </ul>

  <h3>Chat in {{ selectedChannel }}</h3>
  <div class="message-box">
    <div *ngFor="let message of messages" class="message">
      <strong>User {{ message.authorId }}:</strong> {{ message.content }}
    </div>
  </div>

  <div class="message-input">
    <input [(ngModel)]="newMessage" placeholder="Type a message..." />
    <button (click)="sendMessage()">Send</button>
  </div>

  <h3>Send Message to Friend</h3>
  <select [(ngModel)]="selectedFriendId">
    <option *ngFor="let friend of friends" [value]="friend.id">{{ friend.username }}</option>
  </select>
  <button (click)="sendMessageToFriend()">Send</button>
</div>
